
@font-face {
  font-family: 'FontAwesome';
  src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../lib/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), url('../lib/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../lib/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../lib/font-awesome/fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 767px) {
    .github-corner svg {
        height: 57px !important;
        top: 0 !important;
        width: 57px !important;
    }

    .languageMenu {
        display: none;
        margin-left: 13px;
    }
}

#chatra.chatra--pos-right {
    right: 15px !important;
}

@media (max-width: 991px) {
    #chatra.chatra--pos-right {
        right: 5px !important;
    }
}

#chatra.chatra--side-bottom {
    bottom: 72px !important;
}

#valine-comments .info {
    display: none;
}

footer.footer .with-love {
    display: none;
}

.post-toc .nav .nav-child {
    display: block;
}

.posts-expand .home .post-title, .posts-expand .home .post-meta {
    text-align: center;
}