@media (max-width: 767px) {
    .github-corner svg {
        height: 57px !important;
        top: 0 !important;
        width: 57px !important;
    }

    .languageMenu {
        display: none;
        margin-left: 13px;
    }
}

#chatra.chatra--pos-right {
    right: 15px !important;
}

@media (max-width: 991px) {
    #chatra.chatra--pos-right {
        right: 5px !important;
    }
}

#chatra.chatra--side-bottom {
    bottom: 72px !important;
}

#valine-comments .info {
    display: none;
}

footer.footer .with-love {
    display: none;
}

.post-toc .nav .nav-child {
    display: block;
}

.posts-expand .home .post-title, .posts-expand .home .post-meta {
    text-align: center;
}


.languageMenu .menu-item-active a {
    background: transparent;
}