@media (max-width: 767px) {
    .github-corner svg {
        width: 57px !important;
        height: 57px !important;
        top: 0 !important;
    }
}

#chatra.chatra--pos-right {
    right: 15px !important;
}

@media (max-width: 991px) {
    #chatra.chatra--pos-right {
        right: 5px !important;
    }
}

#chatra.chatra--side-bottom {
    bottom: 72px !important;
}

#valine-comments .info {
    display: none;
}

footer.footer .with-love {
    display: none;
}

.post-toc .nav .nav-child {
    display: block;
}

